*{
    font-family: "Amatic SC", sans-serif;
  font-weight: 700;
  font-style: normal;
  letter-spacing: 0.2rem;
  font-size: 1.1rem;
}
.section {
    background: url('./pictures/pizza.jpg') center/cover no-repeat;
    opacity: 0.7;
    height: 100vh;
    padding-top: 80px;
}

.card img {
    height: 250px;
    object-fit: cover;
}
.pizza-footer {
    background-color: white;
    padding: 40px 0;
}

.footer-title {
    font-weight: 700;
    font-size: 18px;
    letter-spacing: 1px;
}


.footer-text {
    font-size: 15px;
    color: #444;
    line-height: 1.6;
}


.footer-phone {
    color: #d9534f;
    font-weight: bold;
    font-size: 17px;
}


.footer-logo {
    width: 90px;
}
.footer-brand {
    font-size: 22px;
    font-weight: 700;
    color: #b33a1b;
}


.footer-links a {
    margin: 0 15px;
    font-weight: 600;
    color: #333;
    text-decoration: none;
}
.footer-links a:hover {
    color: #b33a1b;
}


.footer-copy {
    font-size: 14px;
    color: #555;
}
.designer {
    color: #b33a1b;
    font-weight: 600;
}


.footer-social a {
    margin: 0 10px;
    color: #333;
    font-size: 22px;
    text-decoration: none;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 50%;
}
.footer-social a:hover {
    background: #b33a1b;
    color: #fff;
    border-color: #b33a1b;
}

